#main-menu ul {
  margin: 0;
  padding: 0;
}

#main-menu ul li {
  display: inline-block;
  float: left;
  margin-right: 0.25em;
  background-color: $dark-blue;
}

#main-menu ul li.active {
  background-color: $light-blue;
}

#main-menu ul li a {
  display: block;
  padding: 0.35em 1.5em;
  font-size: 14px;

  @include on-hover-light-up;
}
