@charset "UTF-8";

#footer-wrapper {
  padding: $chunk*2 $chunk*3;
  background-color: $blue;
  color: white; }

#footer .block-menu h2 {
  display: none; }

#footer .menu {
  @include menu ();

  & li {
    // todo: find out why I have to clean
    // this?
    margin: 0;
    padding: 0; }
  & li a {
    border-right: 1px solid white;
    padding: 0 $chunk; }
  & li.first a {
    padding-left: 0; }
  & li.last a {
    border-right: 0; }
}
