.view.view-docentes .view-content {
  @include clearfix (); }
.view-docentes .views-row {
  float: left;
  margin-left: 1em;
  margin-bottom: 1em;
  border: 1px solid #0592D9;
  padding: .75em; }
.view-docentes .inner-row .views-field {
  display: block; }

.view-docentes .title a {
  font-size: 16px;
  color: $blue;
  font-weight: 500; }

// This are the styles related to the view
// of a particular teacher.
.node-docente .field-name-field-foto {
  float: left;
  margin-right: 1em; }
