body {
  font: $baseline Hind, sans-serif;
  
  @media #{more-than($desktop)} {
    @include font-sizes ($baseline, 1.5vw); } }

// Buttons.
.button {
  @include button-pill ($dark-blue); }
.button-dark-blue {
  @include button-pill ($dark-blue); }

#breadcrumb {
  display: none; }

.content-container.sidebar-first-on {
  margin-left: 10em; }
.content-container.sidebar-first-on > #content {
  float: left;
  box-shadow: -1em -1em 2.5em -.25em #bebebe; }
