body {
  background-color: #D4D4D4;
  background-image: url("images/fondo.png");
  font: 13px Hind, sans-serif;
  color: #636363; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

a, a:visited, li a.active {
  color: $light-blue; }
p {
  margin: 0; }

// Fix drupal's clearfix.
.clearfix:after {
  content: ' '; }

// Buttons.
.button {
  @include button-pill ($dark-blue); }
.button-dark-blue {
  @include button-pill ($dark-blue); }

#breadcrumb {
  display: none; }

#page {
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
  
  @media #{more-than($desktop)} {
    width: 85%;
    max-width: none; }
}

.content-container.sidebar-first-on {
  margin-left: $sidebar-width; }
.content-container.sidebar-first-on > #content {
  float: left;
  box-shadow: -1em -1em 2.5em -.25em #BEBEBE; }

#content {
  @include clearfix ();
  width: 100%; }
#content .section {
  padding: 1em;
  padding-top: 2em; }
h1, h2 {
  @extend %small-header;
  margin: 0;
  color: $header-blue; }

#content strong {
  font-weight: bold; }

.sidebar-second-on .section-wrapper {
  float: left;
  width: 70%; }
.sidebar-second-on #sidebar-second {
  float: left;
  width: 30%; }

ul li.statistics_counter {
  display: none; }
