@charset "UTF-8";

#header {
  position: relative;
  padding-top: $chunk*2.5;
  padding-left: $chunk*1.5;
  padding-right: $chunk*1.5;
  color: white;
  background-color: $blue; }

#logo-and-text {
  padding-bottom: 1em;
  line-height: 1.25; }

#logo {
  display: inline-block;
  padding-right: 2em;
  border-right: 2px solid white;
  margin-right: $chunk*1.5; }

#logo-unr {
  float: right; }

#name-and-slogan {
  display: inline-block;
  font-size: 14px; }

#main-menu ul li {
  display: inline-block;
  margin-right: $chunk/4;
  background-color: $dark-blue;

  &.active {
    background-color: $light-blue; } }

#main-menu ul li a {
  display: inline-block;
  padding: .75em 1.5em;

  @include on-hover-light-up (); }

#upper-content {
  position: absolute;
  top: 0;
  right: $chunk*1.5;
  text-transform: uppercase; }

#secondary-menu, .region-header {
  float: right; }
#secondary-menu ul li, .region-header ul li {
  text-align: center;
  background-color: $blue;
  @include on-hover-light-up (); }
#secondary-menu ul li a, .region-header ul li a {
  display: inline-block;
  padding: $chunk/2 $chunk; }

#secondary-menu li {
  visibility: hidden;
  
  &.first {
    visibility: visible; } }
#secondary-menu ul:hover li {
  visibility: visible; }

// Little fix for awful right margin.
.region-header .element-invisible {
  display: none; }

.region-header ul:hover li {
  display: block; }

.region-header ul li {
  display: none; }

.region-header ul li.active {
  display: block; }
