.item-list ul.pager {
  float: right; }
.item-list ul.pager li {
  float: left;
  margin: 0;
  padding: 0; }
.item-list ul.pager li.pager-current {
  padding: .25em .5em;
  color: white;
  background-color: $light-blue; }
ul.pager li a {
  display: block;
  padding: .25em .5em;
  color: $header-blue; }
ul.pager li a:hover {
  color: white;
  background-color: $header-blue;
  @include transition (all 1s); }
