.view-noticias-list .view-content {
  margin-left: 3em;
  margin-right: 4em;
  margin-bottom: 6em;
}

.view-noticias-list .views-row {
  float: left;
  width: 33.333333333%;
  margin-bottom: 6em;
}

.view-noticias-list .views-row .node {
  margin-right: 2em;
}

.view-noticias-list .content {
  height: 6em;
  overflow: hidden;
}
