#upper-content {
  position: absolute;
  top: 0;
  right: 1.5em;
  text-transform: uppercase; }

#secondary-menu, .region-header, .social-media {
  float: right;
  font-size: 14px; }

.social-media {
  margin-right: .125em;
  @extend %social-media;
  font-size: 26px; }

#secondary-menu ul li, .region-header ul li {
  text-align: center;
  background-color: $blue;
  @include on-hover-light-up (); }
#secondary-menu ul li a, .region-header ul li a {
  box-sizing: border-box;
  display: inline-block;
  padding: .25em .5em;
  width: 100%;
  background-color: $dark-blue; }
#secondary-menu ul li a:hover,
.region-header ul li a:hover {
  background-color: $light-blue; }
#secondary-menu {
  margin-right: .5em; }
#secondary-menu li {
  visibility: hidden;
  &.first {
    visibility: visible; } }
#secondary-menu ul:hover li {
  visibility: visible; }

// Little fix for awful right margin.
.region-header .element-invisible {
  display: none; }

.region-header ul:hover li {
  display: block; }

.region-header ul li {
  display: none; }

.region-header ul li.active {
  display: block; }
.region-header ul li.active a i {
  padding-left: .5em;
  font-size: 65%; }
