@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/defaults/_clean-anchors.scss */
a, a:visited, li a.active {
  color: inherit;
  text-decoration: none;
}

/* line 1, ../sass/partials/_global.scss */
body {
  font-family: sans-serif;
}

/* line 5, ../sass/partials/_global.scss */
.button {
  display: inline-block;
  padding: 5.33333px 12px;
  padding-bottom: 0;
  border: 2px solid #009BEE;
  color: white;
  background-color: #009BEE;
  border-radius: .5rem;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 12, ../sass/mixins/_button-pill.scss */
.button:hover {
  background-color: transparent;
  color: #009BEE;
}
/* line 15, ../sass/mixins/_button-pill.scss */
.button:after {
  content: '»';
}

/* line 7, ../sass/partials/_global.scss */
.button-dark-blue {
  display: inline-block;
  padding: 5.33333px 12px;
  padding-bottom: 0;
  border: 2px solid #00476F;
  color: white;
  background-color: #00476F;
  border-radius: .5rem;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 12, ../sass/mixins/_button-pill.scss */
.button-dark-blue:hover {
  background-color: transparent;
  color: #00476F;
}
/* line 15, ../sass/mixins/_button-pill.scss */
.button-dark-blue:after {
  content: '»';
}

/* line 3, ../sass/partials/_header.scss */
#header {
  position: relative;
  padding: 32px 24px;
  color: white;
  background-color: #006AA4;
}

/* line 9, ../sass/partials/_header.scss */
#logo-and-text {
  line-height: 1.25;
}

/* line 12, ../sass/partials/_header.scss */
#logo {
  display: inline-block;
  margin-right: 24px;
}

/* line 16, ../sass/partials/_header.scss */
#name-and-slogan {
  display: inline-block;
}

/* line 19, ../sass/partials/_header.scss */
#main-menu ul li {
  display: inline-block;
  margin-right: 4px;
  background-color: #00476F;
}
/* line 24, ../sass/partials/_header.scss */
#main-menu ul li.active {
  background-color: #009BEE;
}

/* line 27, ../sass/partials/_header.scss */
#main-menu ul li a {
  display: inline-block;
  padding: 8px 16px;
}

/* line 31, ../sass/partials/_header.scss */
#main-menu ul li a:hover {
  background-color: #009BEE;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

/* line 34, ../sass/partials/_header.scss */
#secondary-menu {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 39, ../sass/partials/_header.scss */
#secondary-menu ul li {
  display: inline-block;
  margin-right: 4px;
  background-color: #00476F;
}
/* line 44, ../sass/partials/_header.scss */
#secondary-menu ul li.active {
  background-color: #009BEE;
}

/* line 47, ../sass/partials/_header.scss */
#secondary-menu ul li a {
  display: inline-block;
  padding: 8px 16px;
}

/* line 51, ../sass/partials/_header.scss */
#secondary-menu ul li:hover {
  background-color: #009BEE;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

/* line 6, ../sass/partials/_pre-footer.scss */
#pre-footer {
  padding: 32px 48px;
  background-color: #00476F;
  color: white;
}

/* line 11, ../sass/partials/_pre-footer.scss */
#pre-footer .block-user > h2 {
  display: none;
}

/* line 14, ../sass/partials/_pre-footer.scss */
#pre-footer .block-user h2 {
  font-weight: bold;
}

/* line 17, ../sass/partials/_pre-footer.scss */
#pre-footer .block-user .form-item {
  margin: 8px 0;
}

/* line 20, ../sass/partials/_pre-footer.scss */
#pre-footer .block-user label[for=edit-name],
#pre-footer .block-user label[for=edit-pass] {
  display: none;
}

/* line 24, ../sass/partials/_pre-footer.scss */
#pre-footer .block-user input[type=text],
#pre-footer .block-user input[type=password],
#pre-footer .block-user input[type=submit] {
  width: 170px;
  padding: 4px 8px;
  border: 0;
  color: #333;
  box-sizing: content-box;
}

/* line 33, ../sass/partials/_pre-footer.scss */
#pre-footer .block-user input[type=submit] {
  margin-bottom: 12px;
  background-color: #006AA4;
  color: white;
  text-transform: uppercase;
}

/* line 40, ../sass/partials/_pre-footer.scss */
#pre-footer .block-user .item-list {
  font-size: 12px;
}
/* line 2, ../sass/mixins/_style-anchors.scss */
#pre-footer .block-user .item-list a:hover {
  border-bottom: 1px dashed white;
}
/* line 43, ../sass/partials/_pre-footer.scss */
#pre-footer .block-user .item-list ul, #pre-footer .block-user .item-list li {
  margin: 0;
}

/* line 47, ../sass/partials/_pre-footer.scss */
#pre-footer .block-user .form-actions {
  margin: 0;
}

/* line 3, ../sass/partials/_footer.scss */
#footer-wrapper {
  padding: 32px 48px;
  background-color: #006AA4;
  color: white;
}

/* line 8, ../sass/partials/_footer.scss */
#footer .block-menu h2 {
  display: none;
}

/* line 2, ../sass/mixins/_menu.scss */
#footer .menu li {
  list-style: none;
}
/* line 5, ../sass/mixins/_menu.scss */
#footer .menu li, #footer .menu li a {
  display: inline-block;
}
/* line 14, ../sass/partials/_footer.scss */
#footer .menu li {
  margin: 0;
  padding: 0;
}
/* line 19, ../sass/partials/_footer.scss */
#footer .menu li a {
  border-right: 1px solid white;
  padding: 0 16px;
}
/* line 22, ../sass/partials/_footer.scss */
#footer .menu li.first a {
  padding-left: 0;
}
/* line 24, ../sass/partials/_footer.scss */
#footer .menu li.last a {
  border-right: 0;
}
