@charset "UTF-8";
.social-media, #before-footer .second.column {
  padding-top: 0.125em;
  font-size: xx-large;
  font-family: "myfont"; }
  .social-media a:hover i, #before-footer .second.column a:hover i {
    color: #009BEE; }
  .social-media i, #before-footer .second.column i {
    padding-right: 0.125em; }

h1, h2, #sidebar-first .section h2, #before-footer .column.first h1, #rounded-menu li a .content h1, .view-materias .view-grouping-header, .view-materias .view-grouping-content table caption {
  font-size: 16px;
  font-weight: 500; }

.region-header-bottom-right input[type=text], .views-exposed-form input[type=text] {
  width: 18em;
  border: 0;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  padding-left: 1em; }
  .region-header-bottom-right input[type=text]:focus, .views-exposed-form input[type=text]:focus {
    outline: none; }

.region-header-bottom-right input[type=submit], .views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
  margin-left: -1em;
  border: 0;
  padding: 0.625em 2em;
  background-color: #00436A;
  background-image: url("images/lupa.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  text-indent: -9999px; }
  .region-header-bottom-right input[type=submit]:hover, .views-exposed-form .views-exposed-widget .form-submit:hover {
    background-color: #009BEE;
    transition: background-color 1s; }

#widget_pager_top_slide-block .views-slideshow-pager-field-item .views-content-body a:first-child, .view-front-page-events .title a {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap; }

a, a:visited, li a.active {
  color: inherit;
  text-decoration: none; }

body {
  margin: 0;
  background-color: #D4D4D4;
  background-image: url("images/fondo.png");
  font: 13px Hind, sans-serif;
  color: #636363; }

/* CKEditor */
body.cke_editable {
  background-color: white;
  background-image: none;
  padding: 16px; }

a, a:visited, li a.active {
  color: #009BEE; }

img {
  max-width: 100%; }

p {
  margin: 0; }

.clearfix:after {
  content: " "; }

.button {
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #00476E;
  color: white;
  background-color: #00476E;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  .button:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #00476E; }
  .button:after {
    content: " »"; }

.button-dark-blue {
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #00476E;
  color: white;
  background-color: #00476E;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  .button-dark-blue:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #00476E; }
  .button-dark-blue:after {
    content: " »"; }

#breadcrumb {
  display: none; }

#page {
  width: 1150px;
  margin: 0 auto;
  background-color: white; }

.content-container.sidebar-first-on {
  margin-left: 160px; }

.content-container.sidebar-first-on > #content {
  float: left;
  box-shadow: -1em -1em 2.5em -0.25em #BEBEBE; }

#content {
  min-height: 500px;
  width: 100%; }
  #content:before, #content:after {
    content: "";
    display: table; }
  #content:after {
    clear: both; }

#content .section {
  margin: 1em; }

h1, h2 {
  margin: 0;
  color: #05629B; }

#content strong {
  font-weight: bold; }

.sidebar-second-on .section-wrapper {
  float: left;
  width: 70%; }

.sidebar-second-on #sidebar-second {
  float: left;
  width: 30%; }

ul li.statistics_counter {
  display: none; }

div.messages {
  margin: 1em; }

.item-list .pager li {
  padding: 0; }

ul.pager {
  float: right; }

ul.pager li {
  float: left;
  margin: 0;
  color: #05629B; }

ul.pager li.pager-current {
  padding: 0.25em 0.5em;
  color: white;
  background-color: #05629B; }

ul.pager li a {
  display: block;
  padding: 0.25em 0.5em;
  font-weight: 500;
  color: #05629B; }

ul.pager li a:hover {
  color: white;
  background-color: #05629B;
  transition: all 1s; }

ul.pager li.pager-first a,
ul.pager li.pager-previous a,
ul.pager li.pager-next a,
ul.pager li.pager-last a {
  color: white;
  background-color: #006AA4; }

ul.pager li.pager-first a:hover,
ul.pager li.pager-previous a:hover,
ul.pager li.pager-next a:hover,
ul.pager li.pager-last a:hover {
  color: #05629B;
  background-color: white;
  transition: all 1s; }

#header {
  position: relative;
  padding-top: 1.75em;
  padding-left: 2.5em;
  padding-right: 1.5em;
  color: white;
  background-color: #006AA4; }

#header a {
  color: white; }

#logo-and-text {
  text-align: center;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 1.25; }
  #logo-and-text:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle; }

#header a#logo,
#header #name-and-slogan,
#logo-and-text img {
  display: inline-block;
  vertical-align: middle; }

a#logo {
  display: inline-block;
  min-width: 157px;
  width: 11%;
  padding-right: 2em; }

a#logo img {
  width: 100%;
  margin-bottom: 5px; }

a#logo span {
  font-weight: bold; }

a#logo-lcc {
  display: inline-block;
  border-left: 1px solid white;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 8px; }

a#logo-lcc img {
  min-width: 108px;
  width: 7%; }

#name-and-slogan {
  display: inline-block;
  font-size: 10.86px; }

#name-and-slogan #site-name {
  display: none; }

.uni-logos {
  float: right; }

.uni-logos a {
  display: inline-block; }

.uni-logos img {
  display: inline;
  margin-right: 0.5em; }

.uni-logos img.last-logo {
  margin-right: 0; }

.uni-logos img#fceia-unr {
  width: 125px; }

.uni-logos img#logo-unr {
  width: 60px; }

#main-menu ul {
  margin: 0;
  padding: 0; }

#main-menu ul li {
  display: inline-block;
  float: left;
  margin-right: 0.25em;
  background-color: #00476E; }

#main-menu ul li.active {
  background-color: #009BEE; }

#main-menu ul li a {
  display: block;
  padding: 0.35em 1.5em;
  font-size: 14px; }
  #main-menu ul li a:hover {
    background-color: #009BEE;
    transition: background-color 1s; }

#upper-content {
  position: absolute;
  top: 0;
  right: 1.5em;
  text-transform: uppercase; }

#upper-content ul {
  margin: 0;
  padding: 0; }

#secondary-menu, .region-header, .social-media {
  float: right;
  font-size: 14px; }

.social-media {
  margin-right: 0.125em;
  font-size: xx-large; }

#secondary-menu ul li,
.region-header ul li {
  text-align: center;
  background-color: #006AA4; }
  #secondary-menu ul li:hover,
  .region-header ul li:hover {
    background-color: #009BEE;
    transition: background-color 1s; }

#secondary-menu ul li a,
.region-header ul li a {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.25em 0.5em;
  width: 100%;
  background-color: #00476E; }

#secondary-menu {
  margin-right: 0.5em; }

#secondary-menu ul {
  list-style: none; }

#secondary-menu li {
  visibility: hidden; }
  #secondary-menu li.first {
    visibility: visible; }

#secondary-menu ul:hover li {
  visibility: visible; }

#upper-content ul.menu li {
  margin: 0;
  margin-right: 0.5em; }

.region-header .element-invisible {
  display: none; }

#block-locale-language,
#block-menu-menu-login-menu {
  float: left; }

ul li.leaf {
  list-style: none;
  padding: 0; }

#secondary-menu ul li a:hover,
.region-header ul li a:hover {
  background-color: #009BEE;
  transition: background-color 1s; }

#block-locale-language ul:hover li {
  display: block; }

#block-locale-language ul li {
  display: none; }

#block-locale-language ul li.active {
  display: block; }

#block-locale-language ul li.active a i {
  padding-left: 0.5em;
  font-size: 65%; }

#block-locale-language ul li a:hover {
  background-color: #009BEE; }

.logged-in #block-menu-menu-login-menu {
  display: none; }

.region-header-bottom-right {
  position: absolute;
  bottom: 0.125em;
  right: 0.5em;
  text-align: right; }

.region-header-bottom-right input[type=text] {
  width: 325px; }

#sidebar-first {
  width: 160px;
  margin-left: -160px;
  float: left;
  margin-top: 1em; }

#sidebar-first .section {
  font-size: 12.8px; }

#sidebar-first .section h2 {
  padding-left: 1em;
  color: #05629B;
  margin-bottom: 0.5em;
  font-size: 14.72px; }

#sidebar-first ul, #sidebar-first li {
  padding: 0;
  margin: 0;
  list-style: none; }

#sidebar-first li a {
  display: block;
  margin-bottom: 0.2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  color: #333;
  background-color: #F3F3F3; }

#sidebar-first li a:hover {
  color: white;
  background-color: #009BEE; }

#sidebar-first li li a {
  padding-left: 1.5em;
  font-size: 90%;
  background-color: transparent; }
  #sidebar-first li li a:before {
    content: "» "; }

#sidebar-second > .region {
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 5em; }

#sidebar-second .node {
  margin-bottom: 2em; }

#sidebar-second h2 a {
  color: #006AA4; }

#before-footer {
  padding: 1em 1.5em 1.5em 2.5em;
  color: white;
  background-color: #00476E; }

#before-footer a {
  color: white; }

#before-footer .column {
  float: left;
  width: 33.332%; }

#before-footer .column.first h1 {
  margin-bottom: 0.125em;
  font-size: 15px;
  color: white; }
#before-footer .column.first p {
  font-size: 13px; }

#before-footer .second.column {
  text-align: center; }

#before-footer .third.column {
  text-align: right; }

#before-footer .third.column a {
  display: inline-block; }

#before-footer .third.column img {
  display: inline;
  margin-right: 0.5em; }

#before-footer .third.column img.last-logo {
  margin-right: 0; }

#before-footer .third.column img#fceia-unr {
  width: 125px; }

#before-footer .third.column img#logo-unr {
  width: 60px; }

#footer-wrapper {
  padding: 1.25em 2.5em;
  padding-bottom: 1em;
  background-color: #006AA4;
  color: white; }

#footer-wrapper a {
  color: white; }

#footer-wrapper .section {
  font-size: 12px; }

#footer .block-menu h2 {
  display: none; }

#footer .menu {
  float: left;
  margin: 0;
  padding: 0; }
  #footer .menu li {
    list-style: none; }
  #footer .menu li, #footer .menu li a {
    display: inline-block; }
  #footer .menu li {
    margin: 0;
    padding: 0; }
  #footer .menu li a {
    border-right: 1px solid white;
    padding: 0 16px; }
  #footer .menu li.first a {
    padding-left: 0; }
  #footer .menu li.last a {
    border-right: 0; }
  #footer .menu li ul {
    display: none; }

#footer #sitemap {
  float: right;
  margin-right: 0.5rem;
  border-right: 1px solid white;
  padding-right: 0.5rem; }

#footer .hedra {
  float: right; }

ul.field-collection-view-links:before, ul.field-collection-view-links:after {
  content: "";
  display: table; }
ul.field-collection-view-links:after {
  clear: both; }

ul.field-collection-view-links li {
  float: right;
  margin-left: 0.25em;
  font-weight: 500; }

ul.field-collection-view-links li:hover {
  text-decoration: underline; }

ul.action-links:before, ul.action-links:after {
  content: "";
  display: table; }
ul.action-links:after {
  clear: both; }

ul.action-links li {
  float: right;
  font-weight: 500; }

ul.action-links li:hover {
  text-decoration: underline; }

form label {
  font-weight: 500;
  color: #006AA4; }

input[type=password],
input[type=text] {
  color: #444;
  padding: 0.4em;
  border: 1px solid #006AA4; }

input[type=password].error,
input[type=text].error {
  border: 1px solid red; }

.view .meta.submitted {
  font-size: 9px;
  font-weight: lighter;
  color: #9B9B9B; }

.view .link-wrapper {
  margin-top: 0.5em; }

.view li.node-readmore {
  padding-left: 0; }

.view li.node-readmore a {
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #009BEE;
  color: white;
  background-color: #009BEE;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.25em 0.5em;
  padding-bottom: 0;
  font-size: 9px; }
  .view li.node-readmore a:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #009BEE; }
  .view li.node-readmore a:after {
    content: " »"; }

.views-exposed-form .views-exposed-widget,
.views-exposed-form .views-submit-button {
  padding: 0;
  margin: 0; }

.views-exposed-form label[for="edit-keys"] {
  display: none; }

.views-exposed-form input[type=text] {
  width: 150px;
  padding: 0.3em 1.25em; }

.views-exposed-form .views-exposed-widget .form-submit {
  padding: 0.3em 1.25em;
  background-size: 50%; }

.views-exposed-form input[type=text],
.views-exposed-form input[type=text]:focus,
.views-exposed-form .views-exposed-widget .form-submit {
  border: 1px solid #006AA4;
  outline: none; }

#block-views-slide-block {
  position: relative; }
  #block-views-slide-block:before, #block-views-slide-block:after {
    content: "";
    display: table; }
  #block-views-slide-block:after {
    clear: both; }

#block-views-slide-block .views-slideshow-controls-top {
  width: 34%;
  height: calc(100% - 8px);
  position: absolute;
  right: 0;
  background: #EEE; }

#block-views-slide-block .views-slideshow-controls-top #widget_pager_top_slide-block {
  height: calc(100% - 32px); }

#widget_pager_top_slide-block .views-slideshow-pager-field-item {
  height: 33.33333%;
  box-sizing: border-box;
  padding: 16px 32px;
  border-bottom: 1px solid rgba(154, 154, 154, 0.5); }

#widget_pager_top_slide-block .views-slideshow-pager-field-item.active {
  background: rgba(211, 211, 211, 0.5); }

#widget_pager_top_slide-block .views-slideshow-pager-field-item .views-content-body a:first-child {
  font-size: 16px;
  font-weight: 500;
  color: #006AA4;
  overflow: hidden;
  height: 20px;
  display: inline-block; }

#widget_pager_top_slide-block .views-slideshow-pager-field-item .views-content-body a:last-child {
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #006AA4;
  color: white;
  background-color: #006AA4;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.2;
  font-size: 9.5px; }
  #widget_pager_top_slide-block .views-slideshow-pager-field-item .views-content-body a:last-child:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #006AA4; }
  #widget_pager_top_slide-block .views-slideshow-pager-field-item .views-content-body a:last-child:after {
    content: " »"; }

#widget_pager_top_slide-block .views-slideshow-pager-field-item .views-content-body > div {
  overflow: hidden;
  height: 42px; }

#block-views-slide-block #views_slideshow_cycle_main_slide-block {
  width: 66%;
  float: left; }

.views-slideshow-controls-bottom {
  position: absolute;
  bottom: 48px;
  right: 35%;
  z-index: 10; }

.views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  width: 8px;
  height: 8px;
  margin-right: 20px;
  float: left;
  border: 2px solid #009BEE;
  border-radius: 50%;
  text-align: center;
  line-height: 8px;
  background: #009BEE;
  text-indent: -9999px;
  cursor: pointer; }

.views-slideshow-controls-bottom .views-slideshow-pager-field-item.active {
  border: 2px solid #009BEE;
  background: white; }

#views_slideshow_cycle_div_slide-block_0,
#views_slideshow_cycle_div_slide-block_1,
#views_slideshow_cycle_div_slide-block_2 {
  width: 100% !important; }

#block-views-slide-block img {
  width: 100%;
  height: initial; }

#block-views-slide-block .more-link {
  display: block;
  text-align: right;
  height: 32px;
  line-height: 32px;
  font-size: 9.5px;
  font-weight: bold;
  background: #006AA4;
  color: white;
  padding-right: 1em;
  text-decoration: underline; }

#block-views-slide-block .field-imagen {
  position: relative; }

#block-views-slide-block .field-imagen .blue-title a {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: inline-block;
  padding: 10px 28px;
  max-width: 70%;
  font-size: 21px;
  font-weight: 500;
  color: white;
  background: #009AEE; }

.front #block-system-main {
  border-bottom: 1px solid rgba(154, 154, 154, 0.2); }
  .front #block-system-main:before, .front #block-system-main:after {
    content: "";
    display: table; }
  .front #block-system-main:after {
    clear: both; }

.front #block-system-main .view .views-row {
  float: left;
  width: 33.33333%;
  margin: 32px 0;
  padding: 0 16px;
  box-sizing: border-box;
  border-left: 1px solid rgba(154, 154, 154, 0.2); }

.front #block-system-main .view .views-row img {
  width: 75%;
  height: initial; }

.front #block-system-main .view .views-row .inner-row .title {
  margin-top: 8px; }

.front #block-system-main .view .views-row .inner-row .title a {
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  height: 20px;
  color: #006AA4; }

.front #block-system-main .view .views-row .inner-row .body {
  height: 45px;
  overflow: hidden; }

.front #block-system-main .view .views-row .meta.submitted {
  display: none; }

.front #block-system-main .view .views-row .view-node a {
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #006AA4;
  color: white;
  background-color: #006AA4;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.2;
  font-size: 12px;
  background: transparent;
  color: #04639D;
  border: 2px solid #0088AA; }
  .front #block-system-main .view .views-row .view-node a:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #006AA4; }
  .front #block-system-main .view .views-row .view-node a:after {
    content: " »"; }
  .front #block-system-main .view .views-row .view-node a:hover {
    background-color: #006AA4;
    color: white; }

#rounded-menu {
  margin: 1em;
  margin-bottom: 1.75em; }

#rounded-menu ul {
  margin: 0;
  padding: 0; }

#rounded-menu li {
  list-style: none;
  margin: 0; }

#rounded-menu li {
  float: left;
  width: 25%; }

#rounded-menu li > div {
  margin-right: 1em; }

#rounded-menu li a {
  display: block;
  position: relative;
  padding-top: 100%;
  border-radius: 100%; }

#rounded-menu li a .outer-border {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #D3D3D3;
  border-radius: 100%;
  background-color: #F3F3F3;
  text-align: center; }
  #rounded-menu li a .outer-border:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle; }

#rounded-menu li a .inner-border {
  width: 82.5%;
  border-radius: 100%;
  height: 82.5%;
  background-color: #EAEAEA;
  display: inline-block;
  vertical-align: middle; }

#rounded-menu li a .inner-border > div {
  border-radius: 100%;
  height: 100%;
  text-align: center; }
  #rounded-menu li a .inner-border > div:before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    vertical-align: middle; }

#rounded-menu li a .content {
  display: inline-block;
  width: 80%;
  vertical-align: middle; }

#rounded-menu li a .content i {
  color: #05629B;
  font-size: 48px; }

#rounded-menu li a .content h1 {
  color: #05629B;
  margin-top: -1em;
  margin-bottom: 0.5em;
  font-size: 16px; }

#rounded-menu li a .content p {
  margin-bottom: 0.5em;
  color: #636363;
  font-size: 12px; }

#rounded-menu li a .content span {
  font-size: 12px;
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #05629B;
  color: white;
  background-color: #05629B;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: #05629B;
  border-color: #388EC3;
  background-color: transparent; }
  #rounded-menu li a .content span:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #05629B; }
  #rounded-menu li a .content span:after {
    content: " »"; }

#rounded-menu li a:hover .inner-border {
  transition: all 0.5s ease-in;
  background-color: #009BEE; }

#rounded-menu li a:hover .inner-border i {
  transition: all 0.2s ease-in;
  color: white; }

#rounded-menu li a:hover .inner-border h1 {
  transition: all 0.2s ease-in;
  color: white; }

#rounded-menu li a:hover .inner-border span {
  transition: all 0.2s ease-in;
  border-color: white;
  color: white; }

#rounded-menu li a:hover .inner-border p {
  transition: all 0.2s ease-in;
  color: white; }

.view-front-page-events {
  margin-bottom: 12px;
  line-height: 1.2;
  color: white; }

.view-front-page-events .contents-wrapper {
  padding-left: 2.5em;
  background-color: #EAEAEA; }

.view-front-page-events .event-wrapper {
  float: left;
  width: 25%; }

.view-front-page-events .event-wrapper > div {
  margin-right: 2.5em; }

.view-front-page-events .event {
  padding: 1.75em 0;
  color: #00639A; }

.view-front-page-events > h2 span {
  display: inline-block;
  color: white;
  padding-top: 6px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 3px;
  background-color: #04639D; }

.view-front-page-events .field-fecha {
  padding-left: 43px;
  background-image: url("images/calendar.png");
  background-repeat: no-repeat;
  margin-bottom: 0.5em;
  font-size: 13px;
  font-weight: 600;
  color: #04639D; }

.view-front-page-events .field-fecha .field-content {
  position: relative;
  height: 43px; }

.view-front-page-events .field-fecha .field-content span {
  position: absolute;
  bottom: 0;
  left: 6px; }

.view-front-page-events .title a {
  display: block;
  height: 16px;
  margin-top: 12px;
  margin-bottom: 8px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 600;
  color: #006AA4; }

.view-front-page-events .body {
  height: 44px;
  overflow: hidden;
  margin-bottom: 0.5em;
  font-size: 13px;
  color: #4C4C4C; }

.view-front-page-events .view-node a {
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #00476E;
  color: white;
  background-color: #00476E;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #04639D;
  border-color: #04639D;
  font-size: 10px; }
  .view-front-page-events .view-node a:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #00476E; }
  .view-front-page-events .view-node a:after {
    content: " »"; }

.view-front-page-events .view-node a:hover {
  transition: all 0.2s ease-in;
  border-color: #04639D;
  background: transparent;
  color: #04639D; }

.view-front-page-events .more-link a {
  display: inline-block;
  padding: 6px 30px;
  background-color: #04639D;
  color: white; }

.view-front-page-events .more-link a:hover {
  background-color: white;
  color: #04639D;
  outline: 1px solid #04639D;
  transition: background-color 1s; }

.view-materias .view-grouping {
  text-align: center; }

.view-materias .view-grouping-header {
  color: #00476E; }

.view-materias .view-grouping-content tbody,
.view-materias .view-grouping-content tr {
  border: 0; }

.view-materias .view-grouping-content td {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
  .view-materias .view-grouping-content td:hover {
    background-color: #009BEE;
    transition: background-color 1s; }

.view-materias .view-grouping-content table tr {
  background: #00476E; }

.view-materias .view-grouping-content table caption {
  font-size: 13px;
  color: #00476E; }

.view-materias .view-grouping-content table a {
  display: block;
  color: white; }

.view-materias .view-grouping:before, .view-materias .view-grouping:after {
  content: "";
  display: table; }
.view-materias .view-grouping:after {
  clear: both; }

.view-materias .views-table {
  float: left;
  width: 50%; }

.view-materias .view-grouping-header {
  margin-top: 1em; }

body.node-type-materia .section > .title {
  display: none; }

.materia-header .left {
  float: left; }

.materia-header .left h1 {
  font-size: 27px;
  font-weight: 500;
  color: #006AA4; }

.materia-header .left .field-name-field-codigo {
  margin-top: -0.5em;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #707070; }

.materia-header .field-name-field-plan {
  float: right; }

.materia-header .field-name-field-plan img {
  display: none; }

.materia-header .field-name-field-plan a {
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #009AEE;
  color: white;
  background-color: #009AEE;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  .materia-header .field-name-field-plan a:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #009AEE; }
  .materia-header .field-name-field-plan a:after {
    content: " »"; }

.field .field-label {
  color: #006AA4; }

.field-group {
  margin-top: 2em; }
  .field-group:before, .field-group:after {
    content: "";
    display: table; }
  .field-group:after {
    clear: both; }

.field-group .field-name-field-docentes {
  float: left; }

.field-group .field-name-field-docentes .node-docente h2 a {
  color: #006AA4; }

.field-group .field-name-field-docentes .node-docente .content {
  display: inline-block; }

.field-group .field-name-field-docentes img {
  border-radius: 50%; }

.field-group .field-name-field-docentes > .field-label {
  font-weight: bold;
  color: #006AA4; }

.field-group .field-name-field-docentes > .field-items:before, .field-group .field-name-field-docentes > .field-items:after {
  content: "";
  display: table; }
.field-group .field-name-field-docentes > .field-items:after {
  clear: both; }

.field-group .field-name-field-docentes > .field-items > .field-item {
  float: left;
  margin-right: 1.5em;
  text-align: center; }

.field-group .field-name-field-horario {
  float: right;
  margin: 10px 0;
  border-left: 1px solid white;
  padding: 1.5rem;
  border: 1px solid white;
  color: white;
  background: #009BEE;
  box-shadow: 0px 7px 10px -5px #CFCFCF, 0px -7px 10px -5px #CFCFCF; }

.field-group .field-name-field-horario a,
.field-group .field-name-field-horario .field-label {
  color: white; }

.field-group .field-name-field-horario .field-label {
  font-size: 16px;
  font-weight: 500; }

.field-group .field-name-field-horario .field-items ul {
  border-left: 1px solid white;
  padding-left: 0.5rem;
  list-style: none; }

.field-name-field-lista,
.field-name-field-descripcion,
.field-name-field-anio,
.field-name-field-cuatrim {
  margin-bottom: 1em; }

.field-name-field-imagen-materia img {
  width: 100%; }

.view.view-docentes .view-content:before, .view.view-docentes .view-content:after {
  content: "";
  display: table; }
.view.view-docentes .view-content:after {
  clear: both; }

.view-docentes .views-row {
  float: left;
  padding-right: 1em;
  width: 20%;
  box-sizing: border-box; }

.view-docentes .inner-row .views-field {
  display: block; }

.view-docentes .field-foto {
  padding: 10px 10px 0 10px;
  border-top: 1px solid #0592D9;
  border-right: 1px solid #0592D9;
  border-left: 1px solid #0592D9; }

.view-docentes .field-foto a {
  display: block;
  text-align: center;
  font-size: 0; }

.view-docentes .field-foto a img {
  border-radius: 4px; }

.view-docentes .title {
  padding: 5px 10px;
  border-right: 1px solid #0592D9;
  border-left: 1px solid #0592D9; }

.view-docentes .title a {
  display: block;
  height: 1.5em;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #006AA4;
  font-weight: 500; }

.view-docentes .field-contacto-doc {
  height: 98px;
  padding: 5px 10px 10px 10px;
  border-right: 1px solid #0592D9;
  border-bottom: 1px solid #0592D9;
  border-left: 1px solid #0592D9; }

.node-docente .field-name-field-foto {
  float: left;
  margin-right: 1em; }

#user-login .form-required,
#user-login form h2,
#user-pass .form-required {
  display: none; }

#user-login .item-list li {
  margin: 0; }

#user-login input[type=submit],
#user-pass input[type=submit] {
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #006AA4;
  color: white;
  background-color: #006AA4;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  #user-login input[type=submit]:hover,
  #user-pass input[type=submit]:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #006AA4; }
  #user-login input[type=submit]:after,
  #user-pass input[type=submit]:after {
    content: " »"; }

.page-noticias-list #page-title {
  margin-left: 40px;
  margin-bottom: 24px;
  margin-top: 24px; }

.view-noticias-list .view-content {
  margin-left: 40px;
  margin-right: 45px;
  margin-bottom: 50px; }
  .view-noticias-list .view-content:before, .view-noticias-list .view-content:after {
    content: "";
    display: table; }
  .view-noticias-list .view-content:after {
    clear: both; }

.view-noticias-list .views-row {
  display: inline-block;
  margin-right: -4px;
  width: 33.33333%;
  margin-bottom: 6em; }

.view-noticias-list .field-imagen,
.view-noticias-list .title,
.view-noticias-list .body,
.view-noticias-list .view-node {
  width: 90%; }

.view-noticias-list .title {
  margin-top: 8px;
  margin-bottom: 4px;
  height: 1.8em;
  overflow: hidden; }

.view-noticias-list .title a {
  font-size: 16px;
  font-weight: 500;
  color: #006AA4; }

.view-noticias-list .body {
  height: 6.5em;
  overflow: hidden; }

.view-noticias-list .view-node a {
  margin-top: 8px;
  font-size: 9px;
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #009BEE;
  color: white;
  background-color: #009BEE;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  .view-noticias-list .view-node a:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #009BEE; }
  .view-noticias-list .view-node a:after {
    content: " »"; }

.view-noticias-list .views-field-title a {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.page-eventos-list #page-title {
  margin-left: 40px;
  margin-bottom: 24px;
  margin-top: 24px; }

.view-eventos-list .view-content {
  margin-left: 40px;
  margin-right: 45px;
  margin-bottom: 50px; }
  .view-eventos-list .view-content:before, .view-eventos-list .view-content:after {
    content: "";
    display: table; }
  .view-eventos-list .view-content:after {
    clear: both; }

.view-eventos-list .views-row {
  display: inline-block;
  margin-right: -4px;
  width: 33.33333%;
  margin-bottom: 6em; }

.view-eventos-list .field-fecha,
.view-eventos-list .title,
.view-eventos-list .body,
.view-eventos-list .view-node {
  width: 90%; }

.view-eventos-list .field-fecha {
  margin-bottom: 0.5em;
  height: 43px;
  padding-left: 60px;
  background-image: url("images/calendar.png");
  background-repeat: no-repeat;
  font-size: 13px;
  font-weight: 600;
  color: #04639D;
  box-sizing: border-box; }

.view-eventos-list .title {
  margin-top: 8px;
  margin-bottom: 4px;
  height: 1.8em;
  overflow: hidden; }

.view-eventos-list .title a {
  font-size: 16px;
  font-weight: 500;
  color: #006AA4; }

.view-eventos-list .body {
  height: 6.5em;
  overflow: hidden; }

.view-eventos-list .view-node a {
  margin-top: 8px;
  font-size: 9px;
  display: inline-block;
  padding-top: 3px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 8px;
  border: 2px solid #009BEE;
  color: white;
  background-color: #009BEE;
  border-radius: 2em;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }
  .view-eventos-list .view-node a:hover {
    transition: background-color 1s;
    background-color: transparent;
    color: #009BEE; }
  .view-eventos-list .view-node a:after {
    content: " »"; }

/*# sourceMappingURL=screen.css.map */
